//- img(src="/images/footer.png", width="100%", height="auto")
.footer-container(style="padding-top:15px; padding-bottum:15px;margin-top:15px;")
  .container
    .row
      .col-sm-6
        //- img.img-responsive.center-block(src="/images/logo.svg")
      .col-sm-6
        dl.dl-horizontal
          dt: | Technik & Design
          dd: a(href="http://jumplink.eu"): | Pascal Garber
          dt: | Extras
          dd(ng-hide="$root.authenticated"): a(href="/signin"): | Administration anmelden
          dd(ng-show="$root.authenticated"): a(ng-click="logout()"): | Administration abmelden
