.aside(tabindex='-1', role='dialog')
  .aside-dialog
    .aside-content
      .aside-header(ng-show='title')
        button.close(type='button', ng-click='$hide()') ×
        h4.aside-title(ng-bind='title')
      .aside-body
        div(slider, ng-from="slider.from", ng-to="slider.to", start=0, end=100, step=5)
