.aside(tabindex='-1', role='dialog')
  .aside-dialog
    .aside-content
      .aside-header(ng-show='title')
        button.close(type='button', ng-click='$hide()') ×
        h4.aside-title(ng-bind='title')
      .aside-body.bs-sidebar(bs-navbar)
        ul.nav.bs-sidenav
          li(data-match-route='/*home*')
            a(ui-sref='bootstrap-layout.home') Startseite
          li(data-match-route='/*map*')
            a(ui-sref='bootstrap-layout.map') Karte
          li(data-match-route='/*imprint*')
            a(ui-sref='bootstrap-layout.imprint') Impressum
