.navbar.navbar-default.navbar-fixed-top(role='navigation', bs-navbar)
  .container-fluid
    .navbar-header
      button.btn.btn-primary.navbar-btn.navbar-left.hidden-lg.hidden-md(type="button", bs-aside="aside", data-template="bootstrap/sidebar", data-title="Menü", data-placement="left", data-animation="am-slide-left", data-container=".main-body", style="font-size: 14px; margin-left: 15px; margin-right: 15px;")
        i.fa.fa-bars
      a.navbar-brand(ui-sref='bootstrap-layout.home')
        img(src="images/logo_small.svg", style="height: 40px;margin-top:-10px;float:left;padding-right:5px;")
        span.hidden-xs.hidden-md.hidden-lg MWP Map
        span.hidden-sm.hidden-md.hidden-lg MWP Map
    ul.nav.navbar-nav.navbar-left.visible-md-block.hidden-xs.hidden-sm.visible-lg-block
      li(data-match-route='/*home*')
        a(ui-sref='bootstrap-layout.home') Startseite
      li(data-match-route='/*map*')
        //- a(ui-sref='bootstrap-layout.map') Karte
        a(ng-click="showMapConfigModal()") Karte
        //- a(data-animation="am-fade-and-scale", data-placement="center", data-template="", bs-modal="mapModal") Karte
      li(data-match-route='/*database*', title="Datenbank", bs-dropdown="databaseDropdown", data-template="bootstrap/dropdown", data-placement="bottom-left", data-html="true")
        a(ui-sref='bootstrap-layout.database') Datenbank
      li(data-match-route='/*admin*', title="Einstellungen", bs-dropdown="adminSettingDropdown", data-template="bootstrap/dropdown", data-placement="bottom-left", data-html="true")
        a Einstellungen
      //- li(data-match-route='/*imprint*')
      //-   a(ui-sref='bootstrap-layout.imprint') Impressum
    .navbar-right
      .btn-group
        button.btn.btn-primary.navbar-btn(ng-if="$root.fullscreenIsSupported", ng-click="toggleFullscreen()")
          i.fa.fa-expand(ng-hide="isFullscreen", title="Vollbild")
          i.fa.fa-compress(ng-show="isFullscreen", title="Vollbild verlassen")
        button.btn.btn-primary.navbar-btn(title="Seiteneinstellungen", type="button", bs-aside="aside", data-template="bootstrap/rightsidebar", data-title="Einstellungen", data-placement="right", data-animation="am-slide-right", data-container=".main-body")
          i.fa.fa-ellipsis-v
