.container-fluid
  .row
    .col-xs-12
      .page-header
        h1 Datenbank
      h2 Geojson Werte
      table.table.table-hover.table-condensed
        thead
            tr
              th mapkey
              th title
              th copyright
              th adminlevel
              th nutslevel
              //- th crs
              //- th hc-transform
              th features
          tbody
            tr(ng-repeat="geo in geojson")
              td {{geo.mapkey}}
              td {{geo.title}}
              td
                a(title="{{geo.opyright}}", href="{{geo.copyrightUrl}}") {{geo.copyrightShort}}
              td {{geo.adminlevel}}
              td {{geo.nutslevel}}
              //- td {{geo.crs}}
              //- td {{geo['hc-transform']}}
              td
                a(ng-repeat="feature in geo.features", ui-sref="bootstrap-layout.database-feature-hasc({hasc:feature.properties.hasc})")
                  | {{feature.properties.hasc+", "}}
