.container-fluid
  .row
    .col-xs-12
      .page-header
        h1 Datenbank
      h2 Transport Werte
      table.table.table-hover.table-condensed
        thead
            tr
              th export_nuts2
              th import_nuts2
              th year
              th value
          tbody
            tr(ng-repeat="dat in data")
              td {{dat.export_nuts2}}
              td {{dat.import_nuts2}}
              td {{dat.year}}
              td {{dat.value}}
