.container-fluid
  .row
    .col-xs-12
      .page-header
        h1 Datenbank
      h2 Nuts Level {{level}}
      table.table.table-hover.table-condensed
        thead
            tr
              th nutscode
              //- th(ng-if="level >= 1") nutsubcode
              th label
              th hasc
              th typ
              th(ng-if="level >= 1") parent
              th(ng-if="level <= 2") childs
          tbody
            tr(ng-repeat="nut in nuts")
              td {{nut.nutscode}}
              //- td(ng-if="level >= 1") {{nut.nutsubcode}}
              td {{nut.label}}
              td {{nut.hasc}}
              td {{nut.typ}}
              td(ng-if="level >= 1")
                a(ui-sref="bootstrap-layout.database-nuts-code({code:nut.parent})") {{nut.parent}}
              td(ng-if="level <= 2")
                span(ng-repeat="child in nut.childs")
                  a(ui-sref="bootstrap-layout.database-nuts-code({code:child})") {{child+" "}}
